body {
  font-family: Arial, sans-serif;
  background-color: #f8f9fa; /* Light gray background */
}

.container {
  max-width: 800px;
  margin: 50px auto;
  padding: 0 20px;
  text-align: justify;
}
.navbar-nav .nav-link:hover {
            color: #fff !important;
            background-color: gray !important;
            border-radius: 5px;
        }
.container h2 {
  color: #333; /* Dark gray text */
}

.container p {
  margin-bottom: 20px;
  line-height: 1.6;
}

footer {
  background-color: #343a40; /* Dark background */
  color: #fff; /* White text */
  text-align: center;
  padding: 20px 0;
  position: absolute;
  bottom: 0;
  width: 100%;
}